body {
    margin: 0;
    overflow: hidden; 
}


#gameContainer {
    position: relative;
    width: 100vw;
    height: 100vh; 
    background: url('./Картинки/Фон.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: -150px;
    overflow: hidden; 
}


#bird {
    position: absolute;
    width: 6vw; 
    height: 4vw;
    background: url('./Картинки/yellowbird-upflap.png');
    background-size: cover;
}

.pipe {
    position: absolute;
    width: 1vw;
}

.pipe-top {
    top: 0;
    background: url('./Картинки/pipe-green2.png');
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(180deg);

}

.pipe-bottom {
    bottom: 0;
    background: url('./Картинки/pipe-green.png');
    background-size: cover;
    background-repeat: no-repeat;
}


/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/

.pushable {
  position: relative;
  background: transparent;
  padding: 0px;
  border: none;
  cursor: pointer;
  outline-offset: 4px;
  outline-color: green;
  transition: filter 250ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 300px;
  height: 60px;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: hsl(118, 84%, 29%);
  border-radius: 8px;
  filter: blur(2px);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(
    to right,
    hsl(112, 62%, 55%) 0%,
    hsl(112, 62%, 65%) 8%,
    hsl(112, 62%, 55%) 92%,
    hsl(112, 62%, 45%) 100%
  );
}

.front {
  display: block;
  position: relative;
  border-radius: 8px;
  background: hsl(112, 62%, 55%);
  padding: 16px 32px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable:hover {
  filter: brightness(110%);
}

.pushable:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/

#back1 {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100px;
    height: 50px;
}
